# <center> Assignment #1
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. **

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

**0. Load adult.csv dataset into this notebook.**

In [2]:
import pandas as pd
import numpy as np
import matplotlib .pyplot as plt
df = pd.read_csv('adult.data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [4]:
men = len(df[df['sex'] =='Male'])
women = len(df[df['sex'] =='Female'])
print(f'Men: {men}\nWomen: {women}')

Men: 21790
Women: 10771

**2. What is the average age (*age* feature) of women?**

In [5]:
print('Average age of women: ',df[df['sex'] == 'Female']['age'].mean())

Average age of women:  36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [6]:
print('Percentage of German citizens: ',(len(df[df['native-country'] =='Germany'])/len(df['native-country'].to_frame()))*100)

Percentage of German citizens:  0.42074874850281013

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [5]:
print(df[df['salary'] =='>50K']['age'].mean())
print(df[df['salary'] =='>50K']['age'].std())
print(df[df['salary'] =='<=50K']['age'].mean())
print(df[df['salary'] =='<=50K']['age'].std())

44.24984058155847
10.519027719851826
36.78373786407767
14.02008849082488

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [9]:
tier = {'HS-grad','Bachelors','Masters','Prof-school','Assoc-voc','Doctorate'}
(df[df['education'].isin(tier)]['salary'] == '>50K').all()

False

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [85]:
print(df.groupby(['race','sex']).describe())
(df[df['race'] =='Amer-Indian-Eskimo'][df['sex'] == 'Male']['age']).max()

                               age                                          \
                             count       mean        std   min   25%   50%
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                                         fnlwgt                 ...  \
                             75%   max    count           mean  ...
race               sex                                          ...
Amer-Indian-Eskimo Female  46.00  80.0    119.0  112950.731092  ...
                   Male    45.00  82.0    192.0  125715.364583  ...
Asian-Pac-Islander Female  43.75  75.0    346.0  147452.075145  ...
                   Male    46.00  90.0    693.0  166175.865801  ...
Black              Female  46.00  90.0   1555.0  212971.387781  ...
                   Male    46.00  90.0   1569.0  242920.644997  ...
Other              Female  39.00  74.0    109.0  172519.642202  ...
                   Male    42.00  77.0    162.0  213679.104938  ...
White              Female  46.00  90.0   8642.0  183549.966906  ...
                   Male    49.00  90.0  19174.0  188987.386148  ...

                          capital-loss         hours-per-week             \
                                   75%     max          count       mean
race               sex
Amer-Indian-Eskimo Female          0.0  1721.0          119.0  36.579832
                   Male            0.0  1980.0          192.0  42.197917
Asian-Pac-Islander Female          0.0  2258.0          346.0  37.439306
                   Male            0.0  2457.0          693.0  41.468975
Black              Female          0.0  4356.0         1555.0  36.834084
                   Male            0.0  2824.0         1569.0  39.997451
Other              Female          0.0  1740.0          109.0  35.926606
                   Male            0.0  2179.0          162.0  41.851852
White              Female          0.0  4356.0         8642.0  36.296691
                   Male            0.0  3770.0        19174.0  42.668822


                                 std  min   25%   50%   75%   max
race               sex
Amer-Indian-Eskimo Female  11.046509  4.0  35.0  40.0  40.0  84.0
                   Male    11.596280  3.0  40.0  40.0  45.0  84.0
Asian-Pac-Islander Female  12.479459  1.0  35.0  40.0  40.0  99.0
                   Male    12.387563  1.0  40.0  40.0  45.0  99.0
Black              Female   9.419960  2.0  35.0  40.0  40.0  99.0
                   Male    10.909413  1.0  40.0  40.0  40.0  99.0
Other              Female  10.300761  6.0  30.0  40.0  40.0  65.0
                   Male    11.084779  5.0  40.0  40.0  40.0  98.0
White              Female  12.190951  1.0  30.0  40.0  40.0  99.0
                   Male    12.194633  1.0  40.0  40.0  50.0  99.0

[10 rows x 48 columns]

C:\Users\yeez2\AppData\Local\Temp\ipykernel_11712\4183224740.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  (df[df['race'] =='Amer-Indian-Eskimo'][df['sex'] == 'Male']['age']).max()

82

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [10]:
married = df[df['salary'] =='>50K'][df['sex'] == 'Male'][df['marital-status'].apply(lambda i: i[0] == 'M')].value_counts().count()
single = df[df['salary'] =='>50K'][df['sex'] == 'Male'][df['marital-status'].apply(lambda i: i[0] != 'M')].value_counts().count()
print('married: ',(married/(married+single))*100)
print('single: ',(single/(married+single))*100)

married:  89.53453453453454
single:  10.465465465465465

C:\Users\yeez2\AppData\Local\Temp\ipykernel_2552\1120828458.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  married = df[df['salary'] =='>50K'][df['sex'] == 'Male'][df['marital-status'].apply(lambda i: i[0] == 'M')].value_counts().count()
C:\Users\yeez2\AppData\Local\Temp\ipykernel_2552\1120828458.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  single = df[df['salary'] =='>50K'][df['sex'] == 'Male'][df['marital-status'].apply(lambda i: i[0] != 'M')].value_counts().count()

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [7]:
max = df['hours-per-week'].max()
print('Max number of hours a person works per week: ',max)

Max number of hours a person works per week:  99

In [8]:
number = df[df['hours-per-week'] == max].value_counts().count()
print('A number of people work: ',number)

A number of people work:  85

In [10]:
print('Percentage of those who earn a lot: ',(df[df['salary'] =='>50K'][df['hours-per-week'] == max].value_counts().count() / number)*100)

Percentage of those who earn a lot:  29.411764705882355

C:\Users\yeez2\AppData\Local\Temp\ipykernel_17500\3977707946.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print('Percentage of those who earn a lot: ',(df[df['salary'] =='>50K'][df['hours-per-week'] == max].value_counts().count() / number)*100)

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [145]:
df.groupby(['native-country','salary'])['hours-per-week'].describe()[['mean']]

                            mean
native-country salary
?              <=50K   40.164760
               >50K    45.547945
Cambodia       <=50K   41.416667
               >50K    40.000000
Canada         <=50K   37.914634
...                          ...
United-States  >50K    45.505369
Vietnam        <=50K   37.193548
               >50K    39.200000
Yugoslavia     <=50K   41.600000
               >50K    49.500000

[82 rows x 1 columns]

In [147]:
df.groupby(['native-country','salary'])['hours-per-week'].describe()[['mean']].apply(['Japan'])

             mean
            Japan
salary
<=50K   41.000000
>50K    47.958333